<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atsoft.screenrecord"
    android:installLocation="internalOnly"
    android:versionCode="100"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="false" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera.autofocus"-->
<!--        android:required="false" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera.front"-->
<!--        android:required="false" />-->

    <application
        android:name="com.atsoft.screenrecord.App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.ReactCamActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.PlayVideoDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.CommentaryActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.VideoEditorActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.ProjectsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.TranslucentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.atsoft.screenrecord.ui.activities.PopUpResultVideoTranslucentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name="com.atsoft.screenrecord.ui.services.BaseService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|location|camera|microphone" />

        <service
            android:name="com.atsoft.screenrecord.ui.services.recording.RecordingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|location|camera|microphone"
            android:stopWithTask="true" />

        <service android:name="com.atsoft.screenrecord.ui.services.streaming.StreamingService" />

        <service
            android:name="com.atsoft.screenrecord.ui.services.ControllerService"
            android:foregroundServiceType="mediaProjection|location|camera|microphone" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_sdk_id" />

        <service
            android:name="com.atsoft.screenrecord.ui.services.ExecuteService"
            android:foregroundServiceType="mediaProjection|location|camera|microphone" />

    </application>

</manifest> 