<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.examples.atvizpro"
      android:installLocation="internalOnly"
      android:versionCode="101"
      android:versionName="1.0.1">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    
    <application
        android:name=".App"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app"
        android:theme="@style/AppTheme">

<!--        <provider android:name=".MyProvider" android:authorities="com.examples.atvizpro" android:exported="true" />-->


        <activity android:name=".SimpleExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="Simple Example">
        </activity>
        
        <activity android:name=".Main" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".ProgressBarExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="ProgressBar Example">
        </activity>
        
        
        <activity android:name=".ProgressBarWithNotificationExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="ProgressBar and Notification">
        </activity>
        
        <activity android:name=".MultipleCommandsExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:label="Multiple commands">
        </activity>

        <activity
            android:name=".ui.activities.ReactCamActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"

            android:label="ReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".ui.activities.ReactCamFinishActivity" android:configChanges="keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"

            android:label="ReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".ui.activities.CompressBeforeReactCamActivity" android:configChanges="keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:label="TrimBeforeReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>


        <activity android:name=".ui.activities.CommentaryActivity" android:configChanges="keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:label="TrimBeforeReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".ui.activities.VideoEditorActivity" android:configChanges="keyboard|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:label="TrimBeforeReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".ui.activities.ProjectsActivity" android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:label="TrimBeforeReactCam"
            tools:ignore="LockedOrientationActivity">
        </activity>


        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

<!--        <activity-->
<!--            android:name="ui.activities.SyncActivity"-->
<!--            android:configChanges="keyboardHidden|orientation"-->
<!--            android:parentActivityName="ui.activities.MainActivity"-->
<!--            tools:ignore="MissingClass">-->

<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="ui.activities.MainActivity" />-->
<!--        </activity>-->
<!--        <receiver-->
<!--            android:exported="true"-->
<!--            android:name=".ui.activities.SyncActivity$NetworkChangeReceiver"-->
<!--            android:label="NetworkChangeReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"-->
<!--                    tools:ignore="BatteryLife" />-->
<!--                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <service
            android:name=".ui.services.BaseService"
            android:foregroundServiceType="mediaProjection|location|camera|microphone"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".ui.services.recording.RecordingControllerService"

            android:foregroundServiceType="mediaProjection|location|camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ui.services.recording.RecordingService"
            android:stopWithTask="true"
            android:foregroundServiceType="mediaProjection|location|camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".ui.services.streaming.StreamingControllerService" />
        <service android:name=".ui.services.streaming.StreamingService" />
        <service android:name=".ui.services.sync.SyncService" />

        <service
            android:foregroundServiceType="mediaProjection|location|camera|microphone"
            android:name=".ui.services.ControllerService" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <service android:name=".ui.services.ExecuteService" />

    </application>
   
</manifest> 